:root {
    --body-bg: rgba(0, 0, 0, 1);
    --reader-body: #121212;
    --navbar-bg: rgba(14, 14, 14, 1);
    --navbar-reader: #1f1f1f;
    --border-color: rgba(245, 245, 245, 0.1);
    --text-color: #ffffff;
    --color: rgba(225, 226, 227, 0.8);
    --navbar-height: 5.639vh;
    --item-hover: #444444;
    --item-bg: #141414;
    --reader-item: #333;
    --common-radius: 0.3rem;
    --reader-manga-name: "Teko";
    --small-font: "Josefin Sans";
}

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.varela-round-regular {
    font-family: "Varela Round", sans-serif;

    font-weight: 400;
    font-style: normal;
}

/* .josefin-sans-<uniquifier > {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

.skeleton {
    background: var(--item-bg);
    border: 1px solid var(--border-color);
    padding: 2vh 5vh;
    border-radius: var(--common-radius);
}
